@page
@model PPyrekBackend15043.Razor.Pages.Admin.RestProjects.IndexModel
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Project</a>
</p>

<table class="table">
    <thead>
        <tr><th>Name</th><th>Actions</th></tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Projects)
        {
            <tr>
                <td>
                    <a asp-page="Tasks/Index"
                       asp-route-projectId="@p.Id">
                        @p.Name
                    </a>
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@p.Id" class="btn btn-sm btn-secondary">Edit</a>
                    <a asp-page="Delete" asp-route-id="@p.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
